# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# macOS system files
*.DS_Store
.vscode

# Environment variables & secrets
.env
*.env
.env.*
!*.env.example  # keep example env but ignore real ones
docker.env

# Local configuration
*.local
*.log

# Ignore AWS credentials files if copied locally (they should stay in ~/.aws/)
.aws/
